.rootContainer {
    .ms_formHolder {
        background-color: $white;
        padding: 3%;

        .row {
            text-align: left;

            .ms_titleHolder {
                .ms_title {
                    font-weight: 600;
                }
            }
        }

        .ms_modelList {
            .ms_model {
                background-color: $bgGrey;
                padding: 3%;
                border-radius: 5px;
                cursor: pointer;

                .row {
                    .ms_modelImage {
                        img {
                            width: 95px;
                        }
                    }

                    .ms_modelContent {
                        .ms_modelContentTitle {
                            .ms_modelTitle {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}